.right__sidebar{
    position: sticky;
    top: 0;
    height: 100vh;

}

.search-container{
    background-color: var(--twitter-background);
    border-radius: 30px;
    padding:10px;
    margin: 5px auto;
    width: 80%;
    cursor: pointer;
    border: 1px solid var(--twitter-background);
}

.search-container .search-input{
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
}

.search-container .search-btn .fa{
    color: rgb(101, 119, 134);
    font-size: 16px;
    margin-right: 5px;
}

.trends__box{
    background-color: rgb(245, 248, 250);
    border-radius: 15px;
    margin: 15px auto;
    width: 80%;
    cursor: pointer;
}

.trends__header{
    display:flex;
    width: 100%;
    border-bottom: 1px solid #e0e5e9;
    padding: 15px 15px 10px;
}

.trend{
    border-bottom: 1px solid #e0e5e9;
    padding: 15px;
}

.trend:hover, .trends__show-more:hover{
    background-color: rgb(231, 233, 235);
}

.trends__body span{
    font-size: 14px;
    color: rgb(101, 119, 134);
}

.trends__body p{
    font-weight: 700;
}

.trends__footer{
    display:flex;
    width: 100%;
    padding: 15px 15px 10px;
}

.trends__header p, .trends__footer p{
    width: 100%;
    font-size: 18px;
    font-weight: 900;
}

.trends__header .fa-cog{
    color:var(--twitter-color);

}

.decision {
    padding-left : 2rem;
}

.decision .fa {
    color: var(--twitter-color);
    font-size: 3rem;
    margin-right: 1rem;

}