* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-family: 'Poppins', sans-serif; /* change la police de base pour mettre Poppins*/
    font-size: 1.6rem;                  /* 1.6rem = 16px : taille standard Google Chrome*/
    
    max-width: 1500px;                  /* limite la largeur du site à 1500px */
    margin: 0 auto;
}

a {                                     /* change la couleur des liens et enlève la soulignement du lien*/   
    text-decoration: none;
    color: #333
}

/* Classes globales */

.list-unstyled {                        /* enlève les puces des listes et reset le padding /margin*/
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-flex {                               /* permet d'appliquer flex à un bloc (div) */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {                                 /* permet d'appliquer grid à un bloc (div) */
    display: grid;
    justify-content: center;
}

.wrapper {
    justify-content: left;
    align-items: start;
}

.autre, .friends, .conversations {
    border-left: 1px solid #000000;
    padding: 0rem 2rem;
}

.autre {
    margin: 1rem 15rem 1rem 1rem;
}

.avatar img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: 1rem;
}

.friends__lists__item {
    display: flex;
    align-items: start;
    justify-content: left;
    padding: 1rem 20rem 1rem 1rem;
    border-bottom: 1px solid #7d7d7d;
}

.friends__lists__item:hover {
    background-color: antiquewhite;
    cursor: auto;
}


.pseudo {
    margin: 1rem;
    font-size: 2rem;
}

.content {
    margin-left: 1rem;
}

.conversations .friends__lists__item:hover {
    background-color: #fff;
}

p {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #7d7d7d;
    border-radius: 1rem;
}

.message-image img {
    height: 10rem;
    width: auto;
}

.message-right {
    margin-left:21rem;
    text-align: right;
}

.message-left {
    margin-right:21rem;
    text-align: left;
}

.statut img {
    height: 3rem;
    width: 3rem;
    margin: 2rem;
    opacity: 0.7;
}